.jumbotron.jumbotron_center
  .container
    .row
      .col-md-8
        h1 FLISOL 2014!
        blockquote
          p O flisol....
          em Havendo olhos suficientes, todos os erros são óbvios.
          small Por
            |  
            cite(title='The Cathedral and the Bazaar') Eric Steven Raymond
          p 
            a.btn.btn-lg.btn-info= __('Learn more')

    span.text-muted djsaoidjasiod djsiojdoisad

.container.marketing
  .row
    .col-lg-4.text-center
      h3 Local
      p ...
      p 
        a.btn.btn-primary(href='/')= __('Read more')
    .col-lg-4.text-center
      h3 Palestras
      p ...
      p 
        a.btn.btn-primary(href='/')= __('Read more')
    .col-lg-4.text-center
      h3 Oficinas
      p ... 
      p 
        a.btn.btn-primary(href='/')= __('Read more')
  
  hr.featurette-divider
  
  .row.featurette
    .col-md-7
      h2.featurette-heading First featurette heading. 
        span.text-muted It'll blow your mind.
      p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    .col-md-5
      img.featurette-image.img-responsive(data-src="http://holder.js/500x500/auto", alt="Generic placeholder image")

  hr.featurette-divider

  .row.featurette
      .col-md-5
        img.featurette-image.img-responsive(data-src="http://holder.js/500x500/auto", alt="Generic placeholder image")    
      .col-md-7
        h2.featurette-heading First featurette heading. 
          span.text-muted It'll blow your mind.
        p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.

  hr.featurette-divider

  .row.featurette
    .col-md-7
      h2.featurette-heading First featurette heading. 
        span.text-muted It'll blow your mind.
      p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    .col-md-5
      img.featurette-image.img-responsive(data-src="http://holder.js/500x500/auto", alt="Generic placeholder image")