head
  meta(http-equiv='content-type', content='text/html; charset=UTF-8')
  title flisol - flisol
  meta(name='description', content='flisol')
  link(rel='shortcut icon', href='/img/favicon.ico')
  include css
  include javascript